:root {
  --grayColor: #798696;
  --blackColor: #4b4b4b;
  --yellowColor: #fffa65;
  --redColor: #ff4d4d;
  --greenColor: #059c39;
  --orangeColor: #ff9100;
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif !important;
  /* width: 1920px;  */
}
button, input, div, select{
  font-family: 'Open Sans', sans-serif !important;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
img {
  width: 100%;
}
video {
  width: 100%;
}
strong {
  font-weight: 700;
}
/* #region News */
@keyframes fadeIn {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
@keyframes slideLeft {
  from {
    left: 0;
    opacity: 1;
  }
  to {
    left: -100px;
    opacity: 0;
  }
}
@keyframes slideRight {
  to {
    left: 0;
    opacity: 1;
  }
  from {
    left: -100px;
    opacity: 0;
  }
}
@keyframes searchSlideLeft {
  from {
    width: 0;
    opacity: 0;
    /* left: 0; */
    /* display: none; */
  }
  to {
    width: 200px;
    opacity: 1;
    /* left: -100px; */
    /* display: inline; */
  }
}
@keyframes searchSlideRight {
  from {
    width: 200px;
    opacity: 1;
    /* left: 0; */
    /* display: inline; */
  }
  to {
    width: 0;
    opacity: 0;
    /* left: -100px; */
    /* display: none; */
  }
}
/* #endregion News */
.btn {
  border: none;
  background-color: transparent;
}
.container {
  padding: 0 15em;
}
.content {
  margin: 5em 0;
}
/* Body */
/* #region Header*/
.main-header--outter {
  /* height: 90vh; */
  /* #region News */
  background-image: linear-gradient(rgba(121, 134, 150, 0.7), rgba(121, 134, 150, 0.7)), url("../images/header.jpeg");
  /* #endregion News */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 5em;
}
.main-header--inner {
  padding: 0 1.5em;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  border-bottom: 0.2em solid var(--grayColor);
}
.main-header__logo {
  padding: 0.5em 0;
  display: flex;
  align-items: center;
}
.main-header__logo img {
  width: 15%;
}
.main-header__logo p {
  margin-left: 0.5em;
  color: white;
  font-weight: 700;
  font-size: 0.9em;
}
.main-header__menubar {
  display: flex;
  align-items: center;
}
.main-header__menubar .menubar__list {
  display: inline-table;
}
.main-header__menubar .menubar__list .menubar__list-item {
  display: inline-table;
  padding: 0 1em;
  text-align: center;
  font-weight: 700;
}
.main-header__menubar .menubar__list .menubar__list-item > a {
  position: relative;
}
.main-header__menubar .menubar__list .menubar__list-item:hover > * {
  color: var(--yellowColor);
  text-decoration: underline;
  text-underline-offset: 0.2em;
}
#headSearch {
  padding: .25em;
  margin: 0 .25em;
  border-radius: .5em;
  border: none;
  color: black;
  text-decoration: none;
  width: 0px;
  opacity: 0;
}

.main-header__menubar .menubar__list .menubar__list-item > * {
  font-size: 0.8em;
  color: white;
  text-transform: uppercase;
}
/* #region News */
.navbar__mobile{
  position: absolute;
  top: 1.1em;
  right: 1.8em;
  display: none;
}
.nav__bars-btn{
  font-size: 2em;
  color: var(--blackColor);
}
.nav-overlay{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(121, 134, 150, 0.7);
  z-index: 1;
  display: none;
  animation: fadeIn linear 0.2s;
}
.nav__mobile{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 20em;
  max-width: 100%;
  background-color: var(--blackColor);
  z-index: 2;
  padding: 1em 2em 1em 0;
  text-align: right;
  transform: translate(100%);
  transition: transform linear 0.2s, opacity linear 0.2s;
  opacity: 0;
}
.nav__input:checked ~ .nav-overlay{
  display: block;
}
.nav__input:checked ~ .nav__mobile{
  transform: translate(0%);
  opacity: 1;
}
.menubar__mobile-list-item{
  padding: 1em 0em 0.5em;
}
.menubar__mobile-list-item:first-child{
  padding-bottom: 1em;
}
.nav__mobile-close{
  content: "\f00d";
  font-family: FontAwesome;
  font-size: 2em;
  color: white;
  display: inline-block;
  position: absolute;
  right: 8.3em;
}
.menubar__mobile-list-item a{
  color: white;
  font-size: 1.2em;
  text-transform: uppercase;
}
#visited a{
  color: var(--yellowColor);
}
.nav__mobile img{
  width: 30%;
}
/* #endregion News */
.main-header__desc {
  margin: 4em 0;
}
.main-header__desc .main-header__logo img {
  width: 15%;
}
.main-header__desc .main-header__logo .logo-text {
  font-size: 1.5em;
  text-align: center;
  color: var(--greenColor);
  text-shadow: 0.5px 2.5px 5px #fffa65;
  text-transform: uppercase;
}
.main-header__desc .desc__title {
  font-size: 2em;
  word-spacing: 0.1em;
  color: var(--yellowColor);
}
.main-header__desc .desc__detail {
  color: white;
  word-spacing: 0.1em;
  line-height: 2em;
  font-size: 1.2em;
  font-weight: 200;
  margin: 1em 0;
}
.desc__research--btn a {
  margin-left: 1em;
  border: 0.1em solid var(--yellowColor);
  padding: 0.5em 2em;
  border-radius: 1em;
  color: var(--yellowColor);
  font-size: 0.9em;
}
.history-bar {
  margin-top: 2em;
  text-align: right;
}
.history-bar p a {
  font-size: .9em;
  font-weight: 200;
  color: white;
  /* text-transform: lowercase; */
}
.previous-page::after {
  content: ' / ';
}
.present-page {
  font-weight: 700 !important;
}
/* #endregion Header */
/* #region Content box */
.content-box {
  position: relative;
  background-color: var(--grayColor);
  padding: 1.5em 2em;
  border-radius: 1em;
  /* margin-bottom: 2em; */
}
.content-box__title {
  font-size: 1.3em;
  color: var(--yellowColor);
  margin-bottom: 1em;
  margin-left: 0.5em;
}
.content-box__body {
  display: flex;
  justify-content: space-between;
}
.content-box__body > * {
  width: calc(50% - 0.5em);
}
/* #endregion Context Box */
/* #region News */
.content-box__body.event-box__body.tablet{
  display: none;
}
/* #endregion News */
/* #region Event */
.event-box {
  top: -2.5em;
}
.event-box__body__desc {
  color: white;
  letter-spacing: 0.15em;
  font-size: 1em;
  word-spacing: 0.2em;
  font-weight: 200;
  line-height: 1.5em;
}
/* #endregion Event */
/* #region Major */
.majors-box {
  position: relative;
}
.majors-box__content {
  display: flex;
  gap: 3em;
}
.majors-box__list--item {
  color: var(--grayColor);
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 200;
  letter-spacing: 0.1em;
}
.majors-box__title {
  text-transform: uppercase;
  text-align: center;
  width: 50%;
  margin-top: 2em;
  font-size: 2em;
  text-shadow: rgba(75, 75, 75, 0.5) -0.5em 0.25em 0.25em;
  color: var(--grayColor);
}
.majors-box__title span {
  color: var(--blackColor);
  font-size: 2em;
}
.majors-box_thumbnail-1 {
  position: absolute;
  right: -10em;
  top: 5em;
  width: 50%;
  overflow: hidden;
  box-shadow: var(--orangeColor) -.5em .25em 1px;
}
.majors-box_thumbnail-2 {
  position: absolute;
  width: 25%;
  top: 13em;
  right: 10em;
  box-shadow: var(--blackColor) -.25em 1px .5em;
}
/* #endregion Majors */
/* #region Courses */
.courses-box__title {
  color: var(--redColor);
  text-align: center;
  font-weight: 700;
  font-size: 1.5em;
  text-transform: uppercase;
  margin: 2.5em 0;
  border-bottom: 1px solid var(--blackColor);
}
.courses-box__body {
  display: flex;
  justify-content: space-between;
}
.course-box {
  width: calc(100% / 4 - 1em);
  font-size: .9em;
  line-height: 1.5em;
}
.course-box__title {
  color: var(--grayColor);
  font-weight: 600;

}
.course-box__body {
  font-weight: 200;
}
.course-box__footer {
  color: var(--redColor);
}
.course-box__footer::after {
  content: '...';
}
/* #endregion Courses */
/* #region Map */
.map-box {
  width: 100%;
  height: 70vh;
}
/* #endregion Map */
/* #region Footer*/
.main-footer--outter {
  background-image: linear-gradient(rgba(75, 75, 75, 0.5), rgba(75, 75, 75, 0.5)), url('../images/footer.jpeg');
  background-size: cover;
  background-position: center;
  padding-bottom: 2.5em;
}
.contacts-box {
  top: 5em;
  padding-left: 7em;
  padding-right: 4em;
}
.contacts-box__header {
  display: flex;
  justify-content: space-between;
  font-size: 1.2em;
  text-transform: uppercase;
  color: var(--yellowColor);
}
.contacts-box__list {
  display: flex;
}
/* #region News */
.contacts-box__title{
  display: none;
}
/* #endregion News */
.contacts-box__list--item {
  width: 2.5em;
  font-size: 1.5em;
}
.contacts-box__list--item a {
  color: var(--yellowColor);
}
.contact-box {
  display: flex;
  color: white;
  margin: .25em 0;
}
.contact-box--icon {
  padding: .5em;
  border: 1px solid var(--yellowColor);
  border-radius: 50%;
}
.contact-box-desc p{
  margin-left: 1.5em;
  padding-top: .55em;
  font-size: .9em;
}
.contact-box--detail {
  font-size: .7em;
}
.contact-box:last-child {
  width: 75%;
}
.contact-box:last-child .contact-box--icon {
  height: 2.25em;
  margin-right: 1.25em;
}
.contact-box:last-child .contact-box--desc p {
  margin: .5em 0;
}
.main-footer--inner  {
  margin: 7em 5em 0em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main-footer__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  padding: 1em 1.5em;
}
.main-footer__logo {
  width: 15%;
}
.main-footer__logo img {
  width: 100%;
}
.main-footer__track {
  width: 80%;
}
.main-footer__track-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: .9em;
  font-weight: 200;
}
.main-footer__track-item p:first-child:after {
  content: ':';
}
.main-footer__desc {
  align-self: center;
  font-size: .9em;
  font-weight: 200;
  color: white;
  line-height: 1.5em;
}
/* #endregion  */

/* #region News */
.news-container {
  display: flex;
  justify-content: space-between;
  margin: 2em 0;
}
.news-block {
  display: grid;
  grid-template-columns: 1fr;
  width: 60%;
}
.news-box {
  margin-bottom: 1em;
}
.news-box__thumbnail img {
  width: 100%;
  margin-bottom: .5em;
}
.news-box__title {
  color: var(--grayColor);
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: .5em 0;
  border-bottom: 1px solid var(--yellowColor);
  font-weight: 700;
  font-size: 1.25em;
}
.news-box__views {
  text-align: right;
  font-weight: 200;
  font-size: .9em;
}
.news-box__author {
  text-align: right;
  margin-top: .25em;
  font-style: italic;
  color: var(--grayColor);
  font-size: .9em;
}
.news-box__author--date {
  font-weight: 200;
}
.news-box__desc {
  /* font-weight: 200; */
  /* font-size: .9em; */
  /* font-style: italic; */
  /* color: var(--grayColor); */
  /* line-height: 1.25em; */
  /* word-spacing: .2em; */
  margin-top: 2em;
}
.news-box__detail {
  color: var(--redColor);
  margin-top: .2em;
}

/* #endregion News */
/* #region Sidebar */
.sidebar {
  /* position: sticky; */
  align-self: flex-start;
  /* overflow-y: auto; */
  /* top: 0; */
  width: 35%;
  padding: 2em 1.5em;
  background-color: var(--grayColor);
}
.sidebar__title {
  color: var(--yellowColor);
  text-decoration: underline;
  margin-bottom: 1em;
  font-size: .9em;
}
.sidebar__title::after {
  content: ':';
}
.searchbar {
  margin: 1em 0;
  width: 100%;
}
.searchbar-form {
  background-color: white;
  padding: .5em;
  color: var(--grayColor);
  font-size: .9em;
  font-weight: 200;
  border-radius: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchbar-form input {
  border: none;
  padding: .5em;
}
.category {
  margin: 1em 0;
}
.category-item {
  color: white;
}
.category-item::before {
  content: '\203A';
  margin-right: .25em;
  font-size: 1.5em;
}
.category-item > button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: white;
  font-size: .9em;
}
.subcategory-list {
  display: none;
  line-height: 1.5em;
}
.subcategory-item {
  font-size: .9em;
  margin-left: 1.5em;
  font-weight: 200;
}
.subcategory-item::before {
  content: '\2022';
  color: var(--yellowColor);
}
.relate-posts {
  margin: 1em 0;
}
.relate-post {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}
.relate-post__thumbnail {
  width: 40%;
}
.relate-post__thumbnail img {
  width: 100%;
}
.relate-post__detail {
  width: 55%;
  font-size: .8em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.relate-post__title {
  color: var(--yellowColor);
  font-weight: 200;
}
.relate-post__author {
  display: flex;
  justify-content: space-between;
  font-size: .75em;
  color: white;
  font-weight: 200;
}
.relate-post__author > * {
  display: block;
}
.tags {
  display: inline-block;
  padding: .5em;
  border: .1em solid var(--blackColor);
  border-radius: 1em;
  font-size: .75em;
  margin: .5em 0;
}
/* #endregion Sidebar */
/* #region News Detail */
.post-detail {
  text-align: right;
  color: white;

  font-size: .9em;
  font-weight: 200;
}
.post-detail p {
  display: inline-table;
  margin: .25em 1em;
}
.post-detail p:last-child {
  margin-right: 0;
}
.post-detail span {
  font-weight: 700;
}
.post-detail span::before {
  content: ': ';
  font-weight: 200;
}
.news-detail__block {
  margin: 1em 0;
  line-height: 1.5em;
}
.news-detail__block p {
  margin-left: 1em;
}
.news-h1 {
  text-transform: uppercase;
  font-size: 1.2em;
}
.news-h1 span {
  text-transform: lowercase;
}
/* #endregion News Detail */
/* #region Register Form */
.form-container {
  display: flex;
  justify-content: space-between;
  margin: 2em 0;
}
.register-modal {
  height: 100vh;
  position: fixed;
  z-index: 99;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0, .5);
  overflow: scroll;
  /* display: none; */
}
.register-block {
  font-size: .9em;
  font-weight: 200;
  line-height: 1.5em;
  width: 100% !important;
}
.register-title {
  color: var(--redColor);
  text-align: center;
  font-size: 1.2em;
  margin-bottom: .5em;
}
.register-modal--block {
  width: 50% !important;
  margin: 2em auto;
  z-index: 100;
  background-color: white;
  padding: 1.2em;
  position: relative;
}
.base-value {
  display: flex;
  justify-content: space-between;
  /* height: 50px; */
}
.base-value .input-block {
  width: 45%;
  margin: 0 1.2em;
}
.input-block {
  margin: 1.2em;
}
.input-error {
  color: var(--redColor);
  margin-top: .5em;
  display: none;
}
.input-box {
  /* padding: .2em 1em .2em; */
  /* width: 75%; */
  position: relative;
}
.input-box--error {
  border-color: var(--redColor);
  box-shadow: var(--redColor) .5px .5px 5px;
  transition: all .5s;
}
.input-box input, select, textarea {
  width: 100%;
  background-color: transparent;
  padding: 8px;
  border: 1px solid #bdc3c7;
  border-radius: 4px;
}
.input-box input, select, textarea:focus {
  outline: none;
}

.input-box .error-tag {
  color: red;
  position: absolute;
  right: .75em;
  top: .35em;
  display: none;
}
.input-box .input-tag {
  position: absolute;
  right: .75em;
  top: .35em;
}
.input-block label {
  padding-top: .3em;
}
.register--btn {
  text-align: center;
  margin: auto;
}
.register--btn button {
  padding: .5em 2.5em;
  border-radius: 1em;
  color: white;
  background-color: var(--greenColor);
  border: none;
}
.landing-box {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.landing-box-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 3em;
  background-color: var(--greenColor);
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing-box-container .landing-btn {
  /* margin: 0 1.2em; */
  padding: 0 1.2em;
  height: 100%;
  line-height: 3em;
  position: relative;
}
.landing-btn a {
  color: white;
  font-size: 1.1em;
  text-transform: uppercase;
}
.landing-btn:hover {
  background-color: green;
}
.landing-btn:hover > .popup-box {
  visibility: visible;
}
.popup-box {
  position: absolute;
  background-color: rgba(75, 75, 75, 0.9);
  font-size: 0.9em;
  bottom: calc(100% + .5em);
  min-width: 120px;
  max-width: 240px;
  text-align: center;
  line-height: 2em;
  padding: 0.7em;
  color: white;
  visibility: hidden;
  left: 50%;
  margin-left: -5em;
  border-radius: 1em;
  /* height: 150px; */
  /* display: none; */
}
.popup-box::after {
  content: '';
  width: 0; 
  height: 0; 
  border-left: .7em solid transparent;
  border-right: .7em solid transparent;
  border-top: .7em solid rgba(75, 75, 75, 0.9);
  position: absolute;
  bottom: -.5em;
  left: 50%;
  margin-left: -.5em;
}
/* #endregion Register Form */
@media only screen and (max-width : 48em){
  /* home */
  .container.main-header__desc .main-header__logo,
  .main-header__desc .desc__title,
  .nav__pc{
    display: none !important;
  }
  .navbar__mobile{
    display: block;
  }
  .main-header--inner{
    padding: 0 2em;
  }
  .nav__bars-btn{
    display: block;
  }
  .main-header__desc,
  .desc__research--btn a,
  .content{
    margin: 0;
  }
  .main-header__desc{
    padding: 0 5% !important;
  }
  .menubar__list-item{
    position: relative;
  }
  .menubar__list-item input{
    padding: 1em !important;
    margin: 1.5em 0 !important;
    border-radius: .5em !important;
    border: none !important;
    width: 90% !important;
    font-size: 0.95em !important;
  }
  .menubar__list-item .btn{
    position: absolute;
    top: 1.8em;
    right: 0.6em;
    font-size: 1.2em;
    color: var(--blackColor) !important;
  }
  .container{
    padding: 1em !important;
  }
  .main-header__desc .desc__detail,
  .main-header__desc .main-header__logo .logo-text{
    font-size: 1em;
  }
  .content-box__body.event-box__body.pc{
    display: none;
  }
  .content-box__body.event-box__body.tablet{
    display: flex;
  }
  .content-box__body > *{
    width: 100%;
  }
  .body-container.container{
    padding: 0em calc(10% / 2);
  }
  .content-box{
    padding: 2em;
  }
  .content-box__title{
    margin-left: 0;
    font-size: 1.15em;
    order: 1;
  }
  .content-box__video{
    order: 2;
    margin: 0.7em 0em 2em;
  }
  .event-box__body__desc{
    order: 3;
  }
  .content-box__body{
    flex-direction: column;
  }
  .majors-box{
    display: flex;
    flex-direction: column-reverse;
  }
  .majors-box__content{
    flex-direction: column;
    gap: 0;
    padding: 1em 0.5em 0 2.5em;
  }
  .majors-box__title{
    width: 90%;
    margin: 0 calc(10%/2);
    font-size: 1.5em;
  }
  .majors-box__title span{
    font-size: 1.5em;
  }
  .majors-box__list{
    display: flex;
  }
  .majors-box__list:first-child div{
    width: 70%;
  }
  .majors-box__list:last-child div:first-child{
    width: 50%;
    margin-right: 2.5em;
  }
  .img-box{
    position: relative;
    width: 30%;
  }
  .majors-box_thumbnail-1{
    right: 2em;
    top: 0em;
    width: 80%;
  }
  .majors-box_thumbnail-2{
    display: none;
  }
  .courses-box__body{
    flex-direction: column;
  }
  .course-box{
    width: 90%;
    margin-left: calc(10% / 2);
    border-bottom: 1px solid var(--blackColor);
    margin-bottom: 1.7em;
    display: flex;
  }
  .course-box:last-child{
    border-bottom: 0;
  }
  .course-box__thumbnal{
    width: 50%;
    margin-right: 2em;
    margin-bottom: 1em;
  }
  .courses-box__title{
    border-bottom: 0;
    margin-bottom: 1em;
  }
  .course-box__footer{
    margin-bottom: 0.3em;
  }
  .map-box{
    height: auto;
  }
  .contacts-box{
    top: -5em;
  }
  .contacts-box__header{
    flex-direction: column;
    text-align: center;
  }
  .contacts-box__list{
    margin-bottom: 0.5em;
  }
  .contact-box:last-child{
    width: 100%;
  }
  .contact-box--icon{
    margin-right: 1em !important;
  }
  .contact-box-desc p{
    margin: 0 auto;
  }
  .contact-box--detail{
    font-size: 0.9em;
  }
  .main-footer--outter{
    height: 480px;
  }
  .main-footer__content{
    display: none;
  }
  .main-footer--inner{
    margin: 0em 1em ;
    text-align: center;
    justify-content: center;
    position: relative;
    bottom: 3em;
  }
  .main-footer--inner p:last-child{
    padding: 0 3em;
  }
  /* about */
  .searchbar-form input{
    width: 90%;
  }
  .sidebar{
    width: 100%;
  }
  .news-container{
    flex-direction: column;
    margin: 0;
  }
  .news-box{
    display: flex;
  }
  .no-flex{
    display: unset  ;
  }
  .news-block{
    width: 100%;
    text-align: justify;
  }
  .news-box__thumbnail{
    display: none;
  }
  .not-hident{
    display: block !important;
    width: 60%;
    margin: 7% 1em 7% 0;
  }
  .relate-posts__container{
    display: flex;
    margin-bottom: 2em;
    justify-content: space-between;
  }
  .relate-post{
    flex-direction: column;
    flex-basis: 30%;
    justify-content: unset;
  }
  .relate-post__thumbnail{
    width: 100%;
  }
  .relate-post__detail{
    width: 100%;
    font-size: 1em;
    height: 4em;
  }
  .inside-box{
    height: 550px;
  }
  .inside-box__content{
    top: 2em !important;
    background-color: rgba(121, 134, 150, 0.7);
  }
  .inside-box__main{
    margin-top: 5em;
  }
  .form-container{
    flex-direction: column;
  }
  .register-block{
    margin-bottom: 2em;
  }
}
@media only screen and (max-width: 30em){

  .event-box__body__desc{
    display: none;
  }
  .body-container.container{
    padding: 0em;
  }
  .content-box{
    padding: 1.5em 1em;
  }
  .majors-box__content{
    padding-left: calc(12%);
  }
  .majors-box__list{
    display: unset;
  }
  .majors-box__list:last-child div:first-child{
    width: 100%;
  }
  .img-box{
    display: none;
  }
  .course-box{
    display: unset;
  }
  .course-box__thumbnal{
    width: 100%;
    margin-right: 2em;
    margin-bottom: 0em;
  }
  .contacts-box__list,
  .contact-box{
    justify-content: center;
  }
  .contacts-box.content-box{
    background: rgba(121, 134, 150, 0.7);
    text-align: center;
  }
  .contacts-box{
    top: 4em;
  }
  .main-footer--outter{
    height: unset;
  }
  .main-footer__content,
  .contact-box--icon{
    display: none;
  }
  .main-footer--inner{
    position: unset;
    margin-top: 3em;
  }
  .relate-post__detail{
    font-size: 0.8em;
  }
  .relate-posts__container{
    display: unset;
  }
  .relate-post{
    flex-direction: row;
    justify-content: space-between;

  }
  .relate-post__thumbnail{
    width: 40%;
  }
  .relate-post__detail{
    width: 55%;
    height: 6em;
  }
  .news-box{
    flex-direction: column;
  }
  .not-hident{
    width: 100%;
    margin: 0;
  }
  .news-box__title{
    flex-direction: column;
  }
  .news-box__desc{
    margin-top: 0.7em;
  }.input-block{
    flex-direction: column;
    width: 95%;
  }
  .input-box{
    width: 100%;
  }
  .base-info{
    box-sizing: border-box;
  }
  .base-value{
    flex-direction: column;
    box-sizing: border-box;
  }
  .base-value .input-block{
    width: 95%;
    margin: 0 1.2em;
  }
  .base-value .input-block:first-child{
    margin-bottom: 1.2em;
  }
}